@page
@model Views_Login_Dashboard


<h1>Welcome to the Dashboard!</h1>
<p>Account related activities:</p>
<button> Activity 1</button>
<br />
<br />
<form method="post" asp-action="Login">
    <button type="submit">Logout</button>
</form>


